.kitchen-timers {
}

.kitchen-timers button {
  height: 40px;   
  margin-right: 5px;
  vertical-align: 130%;  
  color: whitesmoke;  
  background-color: black;  
  border-radius: 10px;
}

.kitchen-timers span {
  font-size: 50pt;
}

.kitchen-timers .positive {
  color: yellow;
}

.kitchen-timers .paused {
  color: lightblue;
}

.kitchen-timers .negative {
  color: orangered;
}
